# basics of python

In [2]:
'''using of print function
print function is used to print outpt
syntax:print()'''

In [3]:
a=10
print(a)
b=2+3
print(b)
print("this is jupiter notebook")

10
5
this is jupiter notebook

# datatypes in python

In [8]:
# 1.integer datatype
'''where a is variable having value 10
to print datatype
syntax: print(type(variable))'''
a=10
print(type(a))

<class 'int'>

In [ ]:
#2.string datatype ( it is a character or string type)

In [4]:
z="tanisha"
print(z)
print (type(z))

tanisha
<class 'str'>

In [ ]:
# 3.boolean datatype (whether it is True or False)

In [9]:
a=False
print(type(a))
b=True
print(type(b))

<class 'bool'>
<class 'bool'>

In [1]:
# 4.float datatype(it is in decimal form)
a=307.67
print(type(a))

<class 'float'>

In [13]:
#5.complex datatype(it has two parts real and imaginary)
q=2+3j
print(type(q))
type(q)

<class 'complex'>

complex

# variable names

In [9]:
student_age=10
print(student_age)

10

In [ ]:
"\n is for breaking line"

In [8]:
a=11
b=12
c=6
print("a=",a,"\nb=",b,"\nc=",c)

a= 11
b= 12
c= 6

In [20]:
a=b=c=10
print(a,b,c)

10 10 10

# commenting

In [ ]:
#we use "#"for commenting single line.

In [ ]:
#this is a comment

In [ ]:
"""we use """""" to commenting multiple lines """
""" this is comment
my name is tanisha
i am 20 years old"""

# python booleans
it represents values either True or False

In [2]:
10>20

False

In [3]:
20==20

True

In [4]:
x==0

False

In [5]:
x==1

True

In [65]:
#boolean value is true if  it has some values and 1
bool("abcd")
bool (123)
bool(1)

True

In [69]:
#boolean values is false if it is 0 , no values or empty sets and none
bool()
bool(0)
bool([])

False

# typecasting
convert one datatype to another

In [6]:
x=45
x=input("enter the no")

enter the no445

In [5]:
x= int(input("enter the no"))

enter the no12

In [6]:
type(x)

int

In [ ]:
#typecasting into string

In [12]:
#int to string
x=int(input("enter the no"))
print(type(x))
x=str(input("enter the no"))
print(type(x))

enter the no2
<class 'int'>
enter the no5
<class 'str'>

In [15]:
#float to string
x=float(input("enter the no"))
print(type(x))
x=str(input("enter the no"))
print(type(x))

enter the no20.67
<class 'float'>
enter the no30.67
<class 'str'>

In [21]:
#complex to string
x= complex(input("enter the no"))
print(type(x))
x=str(input("enter the no"))
print(type(x))

enter the no2+3j
<class 'complex'>
enter the no2+3j
<class 'str'>

In [37]:
#int to float
a=2
type(a)

a=float(a)
type(a)
print(a)

2.0

In [40]:
#float to int
a=20.0
type(a)
a=int(a)
print(type(a))
print(a)

<class 'int'>
20

In [44]:
#float to complex
b=2
type(b)

b=complex(b)
print(b)
type(b)

(2+0j)

complex

In [47]:
#complex to int/float(complex cannot convert into int/float )
a=10+3J
type(a)
a=int(a)
type(a)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [48]:
a=10+3J
type(a)
a=float(a)
type(a)

TypeError: float() argument must be a string or a real number, not 'complex'

In [54]:
#complex to string is possible if it has numeric values
c=20+1J
print(type(c))
c=complex("20+3J")
print(c)

<class 'complex'>
(20+3j)

In [55]:
c=complex("tanisha")
print(c)

ValueError: complex() arg is a malformed string