In [1]:
#empty dict

In [1]:
a={}

In [2]:
type(a)

dict

In [ ]:
a=dict()

In [12]:
menu={"dishes":["maggie","pasta","pizza"],"prices":[100,200,300]}

In [13]:
menu

{'dishes': ['maggie', 'pasta', 'pizza'], 'prices': [100, 200, 300]}

In [14]:
menu["dishes"][1]

'pasta'

In [15]:
menu["dishes"][0]

'maggie'

In [16]:
# create dictionary with dict()

In [17]:
student=dict([(1,"python"),(2,"tanisha"),(3,"manvi"),(4,"hello")])

In [18]:
student

{1: 'python', 2: 'tanisha', 3: 'manvi', 4: 'hello'}

In [19]:
menu1=dict([(100,"maggie"),(200,"pasta"),(300,"pizza")])

In [20]:
menu

{'dishes': ['maggie', 'pasta', 'pizza'], 'prices': [100, 200, 300]}

In [21]:
# create a dictionary method third using dict()
# key not  written in " "

In [22]:
computer=dict(keyboard=200,monitor=25000,mouse=1000)

In [23]:
computer

{'keyboard': 200, 'monitor': 25000, 'mouse': 1000}

In [24]:
# method 4 :adding items in empty dictionary

In [25]:
emp={}

In [26]:
emp["id"]=101
emp["name"]="manvi"
emp["job"]="student"
emp["hobby"]=["writing","reading"]

In [27]:
emp

{'id': 101, 'name': 'manvi', 'job': 'student', 'hobby': ['writing', 'reading']}

In [28]:
# access elements

In [29]:
student

{1: 'python', 2: 'tanisha', 3: 'manvi', 4: 'hello'}

In [33]:
roll_no=int(input("enter the no: "))
if roll_no in student:
    print(f"name of the student: {student[roll_no]}")
else:
    print(f"there is no detail of student with {roll_no}")

enter the no: 1
name of the student: python

In [ ]:
emp

In [ ]:
emp["name"]

In [ ]:
# some  method of dictionary

In [ ]:
# get()method for accesing the element

In [ ]:
emp

In [ ]:
emp.get("hobby")

In [ ]:
menu

In [ ]:
# get keys method

In [ ]:
emp

In [ ]:
emp.keys()

In [ ]:
# get values

In [ ]:
student

In [ ]:
student .values()

In [ ]:
# dictionary questions

In [ ]:
# write a prog

In [ ]:

a=int(input("enter total no of section in class : "))
st ={}
i=0
while i<a:
    b=input("enter the  section: ")
    c=input("enter the stream name: ")
    i+=1
    st[b]=c
print(st)

In [ ]:
# get values

In [31]:
emp

{'id': 101, 'name': 'manvi', 'job': 'student', 'hobby': ['writing', 'reading']}

In [32]:
emp.values()

dict_values([101, 'manvi', 'student', ['writing', 'reading']])

In [ ]:
# if we want both keys and values use get item

In [36]:
emp.items()

dict_items([('id', 101), ('name', 'manvi'), ('job', 'student'), ('hobby', ['writing', 'reading'])])

In [ ]:
# changeable

In [ ]:
# to change existable items

In [39]:
emp

{'id': 101, 'name': 'manvi', 'job': 'student', 'hobby': ['writing', 'reading']}

In [41]:
emp["id"]

101

In [42]:
emp["id"]=103

In [43]:
emp

{'id': 103, 'name': 'manvi', 'job': 'student', 'hobby': ['writing', 'reading']}

In [44]:
emp["job"]

'student'

In [45]:
emp["job"]="trainer"

In [46]:
emp

{'id': 103, 'name': 'manvi', 'job': 'trainer', 'hobby': ['writing', 'reading']}

In [49]:
emp["hobby"]

['writing', 'reading']

In [54]:
emp["hobby"].append("art")

In [55]:
emp

{'id': 103,
 'name': 'manvi',
 'job': 'trainer',
 'hobby': ['writing', 'reading', 'dancing', 'dancing', 'art'],
 'address': 'preet vihaar'}

In [52]:
# to add

In [47]:
emp["address"]="preet vihaar"

In [48]:
emp

{'id': 103,
 'name': 'manvi',
 'job': 'trainer',
 'hobby': ['writing', 'reading'],
 'address': 'preet vihaar'}

In [ ]:
# copy  dictionary

In [56]:
emp1=emp

In [58]:
emp1

{'id': 103,
 'name': 'manvi',
 'job': 'trainer',
 'hobby': ['writing', 'reading', 'dancing', 'dancing', 'art'],
 'address': 'preet vihaar'}

In [59]:
emp["name"]=["tanisha"]

In [60]:
emp1

{'id': 103,
 'name': ['tanisha'],
 'job': 'trainer',
 'hobby': ['writing', 'reading', 'dancing', 'dancing', 'art'],
 'address': 'preet vihaar'}

In [62]:
emp2=emp.copy()

In [63]:
emp2

{'id': 103,
 'name': ['tanisha'],
 'job': 'trainer',
 'hobby': ['writing', 'reading', 'dancing', 'dancing', 'art'],
 'address': 'preet vihaar'}

In [66]:
emp2 is emp

False

In [ ]:
# removing items

In [ ]:
#1.pop item

In [67]:
emp.popitem()

('address', 'preet vihaar')

In [68]:
emp

{'id': 103,
 'name': ['tanisha'],
 'job': 'trainer',
 'hobby': ['writing', 'reading', 'dancing', 'dancing', 'art']}

In [69]:
emp.pop("job")

'trainer'

In [70]:
emp

{'id': 103,
 'name': ['tanisha'],
 'hobby': ['writing', 'reading', 'dancing', 'dancing', 'art']}

In [ ]:
# clear

In [71]:
emp.clear()

In [72]:
emp

{}

In [ ]:
# del for delete from memory location

In [73]:
del  emp

In [74]:
emp

NameError: name 'emp' is not defined

In [75]:
# len in dictionary

{}

In [76]:
emp2

{'id': 103,
 'name': ['tanisha'],
 'job': 'trainer',
 'hobby': ['writing', 'reading', 'dancing', 'dancing', 'art'],
 'address': 'preet vihaar'}

In [78]:
len(emp2)

5

In [ ]:
# while loop through dictionry is not possible

In [79]:
emp2

{'id': 103,
 'name': ['tanisha'],
 'job': 'trainer',
 'hobby': ['writing', 'reading', 'dancing', 'dancing', 'art'],
 'address': 'preet vihaar'}

In [82]:
key=list(emp2.keys())

In [84]:
key

['id', 'name', 'job', 'hobby', 'address']

In [85]:
i=0
while i<len(key):
    print(key[i],emp2[key[i]])
    i+=1

id 103
name ['tanisha']
job trainer
hobby ['writing', 'reading', 'dancing', 'dancing', 'art']
address preet vihaar

In [ ]:
# for loop through dictionary

In [86]:
menu

{'dishes': ['maggie', 'pasta', 'pizza'], 'prices': [100, 200, 300]}

In [88]:
for i in menu:
    print(i,menu[i])

dishes ['maggie', 'pasta', 'pizza']
prices [100, 200, 300]

In [107]:
print("*"*30,"\n","  "*5,"MENU\n","*"*30)
print(" "*5,"DISHES"," "*5,"PRICES")
value=list(menu.values())
for i in range(len(value[0])):
    print(" "*5,value[0][i] ," "*5,value[1][i])

******************************
            MENU
 ******************************
      DISHES       PRICES
      maggie       100
      pasta       200
      pizza       300

In [96]:
value=list(menu.values())

In [98]:
value

[['maggie', 'pasta', 'pizza'], [100, 200, 300]]

# Questions (homework)

In [ ]:
# Write a Python program to convert them into a dictionary in a way that item from list1 is the key and item from list2 is the value

In [3]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20,30]

In [4]:
d ={}
for i in range(len(keys)):
    d[keys[i]]=values[i]

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [ ]:
 '''Merge two Python dictionaries into one
       dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
       dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}'''

In [17]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
dict3=dict1.copy()

In [19]:
for i,j in dict2.items():
    dict3[i]=j
print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [25]:
#Delete a list of keys from a dictionary Given 
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}
key=["name","salary"]

In [29]:
sample_dict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'New york'}

In [30]:
for i in key:
    sample_dict.pop(i)
sample_dict

{'age': 25, 'city': 'New york'}

In [ ]:
'''Write a Python program to check if value 200 exists in the following dictionary.
    Given: sample_dict = {'a': 100, 'b': 200, 'c': 300}
'''

In [32]:
sample_dict = {'a': 100, 'b': 200, 'c': 300}

In [39]:
value=int(input("enter the values"))
if value in sample_dict.values():
    print(f"{value} it is present")
else:
    print(f"{value} it is not present")

enter the values200
200 it is present

In [ ]:
'''Get the key of a minimum value from the following dictionary
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
'''

In [44]:
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
min=0

In [45]:

sample_dict.values()

dict_values([82, 65, 75])

In [54]:
value=list(sample_dict.values())
min=value[0]
for i in value:
    if i<min:
        min=i
for i ,j in sample_dict.items():
    if j==min:
        print(f"{i} is the  subject minimum scored")

Math is the  subject minimum scored

In [ ]:
'''Write a program to rename a key city to a location in the following dictionary.
Given: sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
'''

In [58]:
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

In [59]:
sample_dict["location"]= sample_dict.pop("city")

In [60]:
sample_dict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [ ]:
# from keys method in dictionary

In [61]:
key=[1,2,3,4]
values=[100,200,300,400]
d=dict.fromkeys(key,value)

In [62]:
d

{1: [82, 65, 75], 2: [82, 65, 75], 3: [82, 65, 75], 4: [82, 65, 75]}

In [ ]:
# setdefault method in dictionary

In [64]:
class1={"1-A":"pooja","2-B":"tanisha"}
class1.setdefault("1-C","unnamed")

'unnamed'

In [65]:
class1

{'1-A': 'pooja', '2-B': 'tanisha', '1-C': 'unnamed'}

In [ ]:
# nested dictionary

In [4]:
student={1:{"name":"pooja","age":23},2:{"name":"hemant","age":19},3:{"name":"tanisha","age":21},
        4:{"name":"manvi","age":21}}

In [5]:
student

{1: {'name': 'pooja', 'age': 23},
 2: {'name': 'hemant', 'age': 19},
 3: {'name': 'tanisha', 'age': 21},
 4: {'name': 'manvi', 'age': 21}}

In [6]:
student[1]

{'name': 'pooja', 'age': 23}

In [ ]:
# update method in dictionary

In [7]:
key=[1,2,3,4]
d=dict.fromkeys(key," ")

In [8]:
d1={1:"pooja",2:"tanisha"}

In [9]:
d.update(d1)

In [10]:
d

{1: 'pooja', 2: 'tanisha', 3: ' ', 4: ' '}

In [ ]:
#from keys method in dictionary

In [1]:
key=[1,2,3,4]
d=dict.fromkeys(key," ")

In [2]:
d

{1: ' ', 2: ' ', 3: ' ', 4: ' '}

In [3]:
d[1]="pooja"

In [4]:
d

{1: 'pooja', 2: ' ', 3: ' ', 4: ' '}

In [ ]:
# setdefalut

In [ ]:
# nested loop

In [2]:
student={1:{"name":"pooja","age":23},2:{"name":"hemant","age":19},3:{"name":"tanisha","age":21},
        4:{"name":"manvi","age":21}}

In [3]:
student

{1: {'name': 'pooja', 'age': 23},
 2: {'name': 'hemant', 'age': 19},
 3: {'name': 'tanisha', 'age': 21},
 4: {'name': 'manvi', 'age': 21}}

In [5]:
d=dict([("a",{"a":"apple","a":"ant"}),("b":{"baby","ball"})])

SyntaxError: invalid syntax (2788514318.py, line 1)

In [ ]:
# nested dictionary quetsions

In [ ]:
# Write a Python function that takes a dictionary as input and returns a new dictionary with the keys and values swapped.

In [31]:
d={1:"apple",2:"banana",3:"mango"}
d1={}

In [32]:
for keys ,values in d.items():
    d1[values]=keys
print(d1)

{'apple': 1, 'banana': 2, 'mango': 3}

In [ ]:
# Create a program that takes a list of words as input and counts the frequency of each word, storing the results in a dictionary.

In [23]:
a={}
d2=list(input("enter the no:").split(","))
for i in d2:
    a[i]=d2.count(i)
print(a)

enter the no:pooja,pooja,tanisha
{'pooja': 2, 'tanisha': 1}

In [24]:
a={"one":1,"two":2,"three":3,}
b={"three":3,"four":4,"five":5}
c=a.copy()

In [26]:
for key in b:
    if key in c:
        c[key]=c[key]+c[key]
    else:
        c[key]=b[key]
print(c)

{'one': 1, 'two': 2, 'three': 6, 'four': 8, 'five': 10}

In [ ]:
# Define a nested dictionary to store information about students, where the outer dictionary holds student names as keys, and the inner dictionaries store details such as age, grade, and favorite subject.

In [12]:
student={"pooja":{"age": 21,"grade":"A","fav subject":"python"},
        "Tanisha":{"age":20,"grade":"B","fav subject":"python"},
        "maanvi":{"age":22,"grade":"C","fav subject":"python"},}

In [15]:
student

{'pooja': {'age': 21, 'grade': 'A', 'fav subject': 'python'},
 'Tanisha': {'age': 20, 'grade': 'B', 'fav subject': 'python'},
 'maanvi': {'age': 22, 'grade': 'C', 'fav subject': 'python'}}

In [16]:
student["pooja"]

{'age': 21, 'grade': 'A', 'fav subject': 'python'}

In [ ]:
# Implement a program that takes a dictionary and a threshold value as inputs, and returns a new dictionary containing only the key-value pairs where the value is greater than the threshold.

In [42]:
d={"maths":100,"english":50,"science":95}
threshold=int(input("enter the threshold value: "))
d1={}
for i,j in d.items():
    if j >threshold:
        d1[i]=j
print(d1)

enter the threshold value: 50
{'maths': 100, 'science': 95}

In [41]:
# join using for loop

In [37]:
l1=[1,2,3,4,5,6]
l2=["one","two","three","four","five"]
l3={}
for i in range(len(l2)):
    l3[l2[i]]=l1[i]
print(l3)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [ ]:
#  using zip function

In [38]:
l1=[1,2,3,4,5,6]
l2=["one","two","three","four","five"]
l3=dict(list(zip(l1,l2)))

In [39]:
l3

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}