In [1]:
list(range(5))

[0, 1, 2, 3, 4]

In [2]:
list(range(1,5))

[1, 2, 3, 4]

In [3]:
list(range(1,5,2))

[1, 3]

In [4]:
list(range(5,0,-1))

[5, 4, 3, 2, 1]

In [ ]:
#print 1 to n no

In [5]:
n=int(input("enter the no:"))
for i in range(1,n+1):
    print(i)

enter the no:10
1
2
3
4
5
6
7
8
9
10

In [ ]:
#reverse no

In [9]:
n=int(input("enter the no:"))
for i in range(n,0,-1):
    print(i)

enter the no:10
10
9
8
7
6
5
4
3
2
1

In [ ]:
#factorial

In [17]:
n=int(input("enter the no:"))
fact=1
for i in range(n,0,-1):
    fact*=i
print(f"{n}!={fact}")

enter the no:5
5!=120

In [15]:
#for loop through string

In [20]:
n=input("enter the string:")
for i in n:
    print(i)

enter the string:tanisha
t
a
n
i
s
h
a

In [1]:
n=input("enter the string: ")
for i in n[::-1]:
    print(i)

enter the string: tanisha
a
h
s
i
n
a
t

In [ ]:
#print all character on odd index

In [26]:
n=input("enter no:")
for i in range(len(n)):  
    if i%2!= 0:
        print( n[i])

enter no:tanisha
a
i
h

In [ ]:
# list comprehension

In [ ]:
s

In [ ]:
# else loop

In [ ]:
#prime no

In [2]:
n=int(input("enter the no:"))
for i in range(2,n):
    if n%i==0:
        print(f"{n} is a composite no")
        break
else:print(f"{n} is a prime no")

enter the no:8
8 is a composite no

In [ ]:
#nested loop

In [3]:
x=[2,3]
y=[4,5,6]
z=[]

for i in x:
    for j in y:
        z.append(i*j)
print(z)

[8, 10, 12, 12, 15, 18]

In [ ]:
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [4]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j, end=" ")
    print(" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
lcm of 2 no