In [17]:
n=[80,40,60]
n.reverse()
print(n)

[60, 40, 80]

In [ ]:
#reverse a list in python uisng list comprehension

In [24]:
n=list(map(int,input("enter the no: ").split(",")))
[n.reverse(), print(n)]

enter the no: 40,50,60
[60, 50, 40]

[None, None]

In [ ]:
#concatnate two list index wise

In [70]:
lst1=["m","na","i","ke"]
lst2=["y","me","s","lly"]
lst3= []

In [71]:
for i in range(len(lst1)):
    lst3.append(lst1[i]+lst2[i])
print(lst3)

['my', 'name', 'is', 'kelly']

In [88]:
lst3=[lst1[i]+lst2[i]for i in range(len(lst1))]
print(lst3)

['my', 'name', 'is', 'kelly']

In [4]:
a=list(map(int,input("enter the no: ").split(",")))
b=[]
for i in a:
    b.append(i**2)
print(b)

enter the no: 1,2,3
[1, 4, 9]

In [5]:
[i**2 for i in a]

[1, 4, 9]

In [101]:
a=10
[a**2]

[100]

In [ ]:
#concate to list

In [2]:
a=["hello","take"]
b=["dear","sir"]
c=[]

In [4]:
for i in a:
    for j in b:
        c.append(i+j)
print(c)

['hellodear', 'hellosir', 'takedear', 'takesir']

In [5]:
[i+j for i in a for j in b]

['hellodear', 'hellosir', 'takedear', 'takesir']

In [ ]:
#iterate both lists simultaneously

In [120]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

In [172]:
for i in range(len(list1)):
    print(list1[i], list2[-i-1])

10 400
20 300
30 200
40 100

In [178]:
[(list1[i], list2[-i-1]) for i in range(len(list1))]

[(10, 400), (20, 300), (30, 200), (40, 100)]

In [ ]:
# Remove empty strings from the list of strings:list1=["Mike","","Emma","Kelly","","Brad"]

In [20]:
list1=["Mike","","Emma","Kelly","","Brad"]
for i in list1:
    if i=="":
        list1.remove("")
print(list1)

['Mike', 'Emma', 'Kelly', 'Brad']

In [ ]:
# using list comprehension

In [ ]:
[]

In [18]:
 # Write a program to add item 7000 after 6000 in the following Python

In [18]:
a=[10,20,[300,400,[5000,6000],500],30,40]

In [19]:
a[2].insert(-1,7000)

In [20]:
a

[10, 20, [300, 400, [5000, 6000], 7000, 500], 30, 40]

In [21]:
# using list comprehension

In [23]:
 [a[2].insert(-1,7000) ]

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2218495111.py, line 1)

In [ ]:
'''You have given a nested list.Write a program to extend it by adding the sub list
["h","i","j"]in such a way that it will look like the following list.Given List:
list1=["a","b",["c",["d","e",["f","g"],"k"],"l"],"m","n"]
#sub list to add
sub_list=["h","i","j"]
Expected Output:
['a','b',['c',['d','e',['f','g','h','i','j'],'k'],'l'],'m','n']'''

In [126]:
list1=["a","b",["c",["d","e",["f","g"],"k"],"l"],"m","n"]
sub_list=["h","i","j"]

In [127]:
list1[2]

['c', ['d', 'e', ['f', 'g'], 'k'], 'l']

In [128]:
list1[2][1][2]

['f', 'g']

In [129]:
list1

['a', 'b', ['c', ['d', 'e', ['f', 'g'], 'k'], 'l'], 'm', 'n']

In [130]:
list1[2][1][2].extend(sub_list)

In [131]:
list1

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [132]:
# using list comprehension

In [ ]:
a=[ i  list1[2][1][2].extend(sub_list)]
print(a)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2935920810.py, line 1)

In [39]:
'''You have given a Python list.Write a program to find value 20 in the list, and if
it is present,replace it with 200.Only update the first occurrence of an item.
Given:list1=[5,10,15,20,25,50,20]'''

'You have given a Python list.Write a program to find value 20 in the list, and if\nit is present,replace it with 200.Only update the first occurrence of an item.\nGiven:list1=[5,10,15,20,25,50,20]'

In [118]:
list1=[5,10,15,20,25,50,20]
if 20 in list1:
    print("present in the list")
    list1[-1]=200
print(list1)

present in the list
[5, 10, 15, 20, 25, 50, 200]

In [119]:
'''Given a Python list,write a program to remove all occurrences of item 20.
Given: list1=[5,20,15,20,25,50,20]
'''

'Given a Python list,write a program to remove all occurrences of item 20.\nGiven: list1=[5,20,15,20,25,50,20]\n'

In [120]:
list1=[5,20,15,20,25,50,20]
for i in list1:
    if i!=20:
        print(i)

5
15
25
50

In [121]:
#using list comprehension

In [122]:
[i for i in list1 if i!=20]

[5, 15, 25, 50]

In [123]:
# Rotate the characters in a string by a given number(e.g.,"hello" rotated by 2 bcomes"lohel").

In [3]:
a = "hello"
left= a[2:] + a[:2]
print("Left Rotation:", left)

Left Rotation: llohe