In [ ]:
# write a python program to take user input string and print its length using a inbuilt method

In [2]:
x=input("enter a string: ")
print(len(x))

enter a string: tanisha rawat
13

In [ ]:
#combine two strings provided by user and print the result using string method

In [1]:
x=input("enter first name: ")
y=input("enter last name:  ")
print(x+" "+y)

enter first name: hello
enter last name:  world
hello world

In [ ]:
#create a program that accepts the string input and print it uppercase  and lowercase using string methods

In [19]:
x=input("enter the string: ")
print(x.upper())
print(x.lower())

enter the string: hi
HI
hi

In [ ]:
#Develop a program that replace a specified word in a given sentence with another word.Display the modified sentence.

In [2]:
x="hello welcome to programming world"
x.replace("programming world" , "python programming world")

'hello welcome to python programming world'

In [ ]:
#Take a sentence as input and  splitit in to a list of words.Print the list using a string method.

In [52]:
x=input("enter a string: ")
print(x.split(" "))

enter a string: hello and welcome to the programming world
['hello', 'and', 'welcome', 'to', 'the', 'programming', 'world']

In [ ]:
#Create a script that checks if a particular word exists in a given sentence.Use a string method for this operation.

In [16]:
_name=input("enter the sentence:  ")
word=input("enter a word you have to check:  ")
if word in _name:
    print("it is present in the sentence")
else:
    print("not present in the sentence!")

enter the sentence:  hello and welcome to programming world
enter a word you have to check:  programming world
it is present in the sentence

In [ ]:
#Design a program that takes a string input and counts the number of occurrences of a specific character in it using a string method.

In [20]:
sentence=input("enter the sentence: ")
char=input("enter the character: ")
print(sentence.count(char))

enter the sentence:  this is python.welcome to the programming world to learn python
enter the character: a
2

In [ ]:
#Develop a Python program that takes user inputs for name and age and uses a string method to format a sentence displaying the information

In [22]:
name=input("enter your name: ")
age=int(input("enter your age: "))
print("my  name   is  {}  and  my age is {}".format(name,age))

enter your name: tanisha rawat
enter your age: 20
my  name   is  tanisha rawat   and  my age is 20

In [ ]:
#Write a Python program to input a string with leading and trailing whitespaces.Use a method to remove these whitespaces and print the cleaned string.

In [ ]:
x=input("enter the sentence")
x.

In [ ]:
#indexing and slicing

In [ ]:
#given the string "hello",select and print the substring "ell"

In [27]:
_string="hello"
print(_string[1:4])

ell

In [ ]:
#given the string"python and print the first three characters

In [29]:
a="python"
print(a[0:3])

pyt

In [ ]:
# given the string "programming" select and print the last four characters

In [68]:
b="programming"
print(b[7:])

ming

In [71]:
b.index("m")

6

In [75]:
b.index("m",7)

7

In [ ]:
#given the string "banana" select and print avery second character

In [81]:
c="banana"
print(c[0::2])

bnn

In [ ]:
# Given the string "abcdefgh" , select and print the characters from index 2 to 5.

In [84]:
d="abcdefgh"
print(d[2:6])

cdef

In [ ]:
# Given the string "goodbye", select and print the characters from index 1to4 in reverse order

In [7]:
d1="goodbye"
print(d1[4:0:-1])

bdoo

In [ ]:
# Given the string "helloworld", select and print the characters from index 6 to the end of the string.

In [8]:
d2="hello world"
print(d2[6:])

world

In [ ]:
#  Given the string "abcdefg" , select and print the characters from index 1 to 6,skipping every second character.

In [9]:
d3="abcdefg"
print(d3[1:7:2])

bdf

In [ ]:
# Given the string "hello", select and print the characters from index 1 to 4 in reverse order.

In [11]:
d4="hello"
print(d4[4:0:-1])

olle

In [ ]:
# Given the string"python programming",select and print the characters from index 7 to 16.

In [1]:
a1="python programming"
print(a1[7:17])

programmin

In [ ]:
# Given the string "Welcome to the world of programming",write an index slice to get the sub string "ecmotew"

In [81]:
a2="welcome to the world of programming"
print(len(" welcome to the world"))

21

In [71]:
print(a2[0:20:1])

welcome to the world

In [ ]:
# Given the string "Hello , Python !", write an index slice to get the sub string "oyoe"

In [87]:
a3="hello,python!"
print(len(a3))

13

In [49]:
print(a3[-3:-14:-3])

oyoe

In [ ]:
# Given the string "Computer Science" , write an index slice to get the substring "Science".

In [83]:
a4="computer science"
print(len("computer science"))
print(len("science"))
print(a4[9:16:])

16
7
science

In [ ]:
# Given the string "abcd", write an index slice to get the sub string "dcb".

In [85]:
a5="abcd"
print(len("abcd"))

4

In [79]:
print(a5[:-4:-1])

dcb

In [ ]:
# Given the string "abcdefa ",print the string reverse using slicing

In [104]:
a6="abcdefa"
print(len(a6))
print(a6[::-1])

7
afedcba

In [101]:
print(a6[::-1])

afedcba

# list questions

In [ ]:
# 1.Given a list,write a Python program to swap first and last element of the list.

In [105]:
fruit=list(input("enter the fruits: "))

enter the fruits: mango,apple,banana,litchi,kiwi,strawberry

In [109]:
fruit=["mango","apple","banana","litchi","kiwi","strawberry"]
print(fruit)

['mango', 'apple', 'banana', 'litchi', 'kiwi', 'strawberry']

In [ ]:
#swaping first and last element

In [1]:
fruit=["mango","apple", "banana", "litchi","strawberry","kiwi"]
print(fruit)
print(fruit[0])
print(fruit[-1])
temp=fruit[0]
fruit[0]=fruit[-1]
fruit[-1]= temp
print(fruit)

['mango', 'apple', 'banana', 'litchi', 'strawberry', 'kiwi']
mango
kiwi
['kiwi', 'apple', 'banana', 'litchi', 'strawberry', 'mango']

In [ ]:
#append method

In [2]:
my_list=[]
print(my_list)
my_list.append("happy")
my_list.append(1)
my_list.append(2)
my_list.append(3)
print(my_list)

[]
['happy', 1, 2, 3]

In [8]:
list1=[4,2,7,1,9]
print(list1)
list1.sort( reverse=True)

[4, 2, 7, 1, 9]

In [12]:
list1.sort( reverse=True)
print(list1)

[9, 7, 4, 2, 1]

In [ ]:
'''Create a list named fruits with elements 'apple','banana','orange','grape',and'kiwi'. Use list slicing
to create a new list containing the first three fruits.Print the new list.'''

In [29]:
fruit_1=['apple','banana','orange','grape','kiwi']
new_fruit_1=fruit_1[0:3]
print(new_fruit_1)

['apple', 'banana', 'orange']

In [ ]:
# Create a list named colors with elements'red','green','blue',and'yellow'.Replace'green'with'purple'in the list.Print the modified list.

In [30]:
colour=['red','green','blue','yellow']
print(colour)

['red', 'green', 'blue', 'yellow']

In [47]:
colour[1]="purple"

In [48]:
print(colour)

['red', 'purple', 'blue', 'yellow']

In [ ]:
'''create two lists ,list1 and list2,with any elements of your choice.Concatenate the two lists to create a
new list name combined_list. Print the combined_list.'''

In [10]:
list1=["purple","pink", "brown","grey"]
list2=['red','green','blue','yellow']
combined_list = (list1 + list2)
print(combined_list)

['purple', 'pink', 'brown', 'grey', 'red', 'green', 'blue', 'yellow']

In [9]:
list_1=[2,3,4]
list_2=[5,6,7]
list_3=(list1 + list2)
print(list_3)

[2, 3, 4, 5, 6, 7]

In [ ]:
# Given the list numbers =[10,20,30,40,50] , remove the element '30' .Print the modified list.

In [11]:
list_4=[10,20,30,40,50]
list_4.remove(30)
print(list_4)

[10, 20, 40, 50]

In [ ]:
 # Given the list letters =['a','b','c','d','e'],reverse the order of its elements.Print the reversed list

In [15]:
list_letters=['a','b','c','d','e']
list_letters.reverse()
print(list_letters)

['e', 'd', 'c', 'b', 'a']

In [ ]:
# Create a list named numbers with repeated occurrences of the number7.Check how many times the number 7 appears in the list.Print the count

In [17]:
list_5=[2,6,7,8,2,7,7,5,0]
print(list_5.count(7))

3

In [7]:
l1=[2,3,4]
l2=["A","B","c"]
l3=[l1+l2]

In [8]:
 print(l3)

[[2, 3, 4, 'A', 'B', 'c']]