In [ ]:
# tuple

In [3]:
z=()

In [4]:
print(type(z))

<class 'tuple'>

In [9]:
tup=("yes")
type(tup)

str

In [6]:
tup=("yes",)

In [8]:
type(tup)

tuple

In [ ]:
#tuples is heterogenous

In [10]:
t=(1.45,True,7,"tanisha",(4,6,5))

In [18]:
t[1::2]

(True, 'tanisha')

In [11]:
t

(1.45, True, 7, 'tanisha', (4, 6, 5))

In [ ]:
#access of elements in tuples

In [12]:
t[1]

True

In [14]:
t[-1][0]

4

In [15]:
t[1:4]

(True, 7, 'tanisha')

In [16]:
t[2:]

(7, 'tanisha', (4, 6, 5))

In [20]:
t[::-1]

((4, 6, 5), 'tanisha', 7, True, 1.45)

In [ ]:
#tuple is immutable

In [21]:
t

(1.45, True, 7, 'tanisha', (4, 6, 5))

In [24]:
t[1]=10

TypeError: 'tuple' object does not support item assignment

In [ ]:
#solution is to typecast tuple into list and then return convert in tuple after operation.

In [26]:
t=list(t)
print(t)

[1.45, True, 7, 'tanisha', (4, 6, 5)]

In [27]:
t[1]=10

In [28]:
t=tuple(t)

In [29]:
print(t)

(1.45, 10, 7, 'tanisha', (4, 6, 5))

In [ ]:
#concatination in tuples

In [31]:
t1=(1,2,3,4)
t2=("hello","world","yes")

In [32]:
t1+t2

(1, 2, 3, 4, 'hello', 'world', 'yes')

In [ ]:
# tuple methods

In [33]:
t

(1.45, 10, 7, 'tanisha', (4, 6, 5))

In [34]:
t.index(10)

1

In [40]:
t.count(10)

1

In [41]:
t.index("tanisha")

3

In [42]:
t[3].count("a")

2

In [ ]:
# membership operation in tuples

In [43]:
"tanisha" in t

True

In [44]:
"hello"in t

False

In [45]:
"tanisha" not in t

False

In [ ]:
#unpacking a tuple

In [46]:
t

(1.45, 10, 7, 'tanisha', (4, 6, 5))

In [47]:
len(t)

5

In [48]:
a,b,c,d,e=t

In [50]:
print(a)
print(b)

1.45
10

In [51]:
a,b,c=t

ValueError: too many values to unpack (expected 3)

In [ ]:
#using astreick *

In [52]:
a,b,*c=t

In [54]:
t

(1.45, 10, 7, 'tanisha', (4, 6, 5))

In [55]:
print(c)

[7, 'tanisha', (4, 6, 5)]

In [56]:
a,*b,c=t

In [57]:
print(b)

[10, 7, 'tanisha']

In [58]:
print(c)

(4, 6, 5)

In [59]:
t

(1.45, 10, 7, 'tanisha', (4, 6, 5))

In [60]:
*a,b,c=t

In [62]:
print(a)

[1.45, 10, 7]

In [ ]:
# while loop throgh tuple

In [19]:
t= tuple(input("enter the string:").split(","))
i=0
while i<len(t):
    print(len(t[i]))
    i+=1

enter the string:qwert
5

In [ ]:
t=[10,20,30,40]
_search=int(input("enter the item you want to search:"))
i=0
if _search in t:
    while i<len(t):
        if t[i] ==_search:
            print(f"{_search} is at index {i}")
        i+=1
else:
    print(f"{_search} is not present")

In [ ]:
# homework

In [ ]:
#calculate sum of all no in tuples

In [1]:
n=tuple(map(int,input("enter the no").split(",")))
sum=0
for items in n:
    sum+=items
print(sum)

enter the no1,2,3
6

In [1]:
#caculate sum of all no
n=tuple(map(int,input("enter the no").split(",")))
i=0
sum=0
while i<len(n):
    sum+=n[i]
    i+=1
print(sum)

enter the no1,2,3
6

In [ ]:
#Determine the minimum value in a tuple without using the built-in min() function.

In [2]:
t=tuple(map(int,input("enter the no").split(",")))
_min=t[0]
i=0
while i<len(t):
    if t[i]<_min:
        _min=tup[i]
    i+=1
print(f"{_min} is minimum value in {t}")

enter the no10,20,30
10 is minimum value in (10, 20, 30)

In [ ]:
t=tuple(map(int,input("enter the no").split(",")))
min=t[]

In [ ]:
#Flatten a nested tuple into a single tuple using a while loop.

In [3]:
nested_tuple = ((1, 2), (3, 4), (5, 6))

In [4]:
tup=()
for t in nested_tuple:
    tup+=t
print(tup)

(1, 2, 3, 4, 5, 6)

In [ ]:
t = ((1, 2), (3, 4), (5, 6))

In [5]:

t= ((1, 2), (3, 4), (5, 6))

tup=()
i=0
while i<len(t):
    tup+=t[i]
    i+=1
print(tup)

(1, 2, 3, 4, 5, 6)

In [ ]:
# tuple comprehension

In [8]:
tup

(1, 2, 3, 4, 5, 6)

In [10]:
tuple(i for i in tup)

(1, 2, 3, 4, 5, 6)

In [11]:
tuple(i**2 for i in tup)

(1, 4, 9, 16, 25, 36)

In [16]:
tuple(i**2 for i in tup if i%2==0)

(4, 16, 36)

In [18]:
tuple(("e",i) if i%2==0 else ("o",i)for i in tup)

(('o', 1), ('e', 2), ('o', 3), ('e', 4), ('o', 5), ('e', 6))

In [22]:
t1=(2,3,4)
t2=(5,6,7)
t=()
for i in t1:
    for j in t2:
        t+=(i*j,)
print(t)

(10, 12, 14, 15, 18, 21, 20, 24, 28)

In [26]:
tuple(i*j for i in t1 for j in t2)

(10, 12, 14, 15, 18, 21, 20, 24, 28)

In [ ]:
# write a one linear that generates a tuple of the squares of no 1 to 10

In [28]:
tuple(i**2 for i in range(1,11))

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

In [ ]:
 #write a one linear that generates a tuple of the squares of  even no 1 to 10

In [29]:
tuple(i**2 for i in range(2,11,2))

(4, 16, 36, 64, 100)

In [ ]:
# write a one linear that generates a tuple of the squares of even no no 1 to 10

In [31]:
tuple(i**2 for i in range(1,11) if i%2==0)

(4, 16, 36, 64, 100)

In [33]:
tuple(i for i in range(1,31) if i%3==0)

(3, 6, 9, 12, 15, 18, 21, 24, 27, 30)

In [36]:
l=[-2,3,-4,5,-6]
tuple( i for i in l if i>0)

(3, 5)

In [ ]:
tup=tuple(map(int,input("enter the no").split(",")))

In [38]:
((0,1),(1,2),(2,3),(3,4),(4,5))
tuple((i,j)for i,j in enumerate([1,2,3,4,5]))

((0, 1), (1, 2), (2, 3), (3, 4), (4, 5))

In [40]:
tuple((i,j)for i,j in enumerate(range(1,6)))

((0, 1), (1, 2), (2, 3), (3, 4), (4, 5))

In [41]:
n=int(input("enter the no: "))
tuple((i,j)for i,j in enumerate(range(1,n)))

enter the no: 5

((0, 1), (1, 2), (2, 3), (3, 4))

In [46]:
n=input("enter the string: ")
l=n.split(" ")
tuple(len(i) for i in l)

enter the string: my name is hello

(2, 4, 2, 5)

 # tuples  practice questions

In [ ]:
'''Assignment questions on set and tuple:
1. #Write a program that reverses the given tuple using a while/for loop.
2. Write a program that searches for a specific element in a tuple using a while/for loop and prints its index if found.
3. Calculate the sum of all numbers in a tuple without using the built-in sum() function.
4. Determine the maximum value in a tuple without using the built-in max() function.
5. Flatten a nested tuple into a single tuple using a while loop.
6. Convert a tuple of characters into a string using a while loop'''.

In [25]:
t=tuple(map(int,input("enter the no: ").split(",")))
for i in t[::-1]:
    print(i)

enter the no: 100,200,300
300
200
100

In [ ]:
# using tuple comprehension

In [26]:
tuple(i for i in t[::-1]  )

(300, 200, 100)

In [9]:
t=tuple(map(int,input("enter the no: ").split(",")))
i=0
t=t[::-1]
while i<len(t):
    print(t[i])
    i+=1

enter the no: 100,200,300
300
200
100

In [ ]:
# Write a program that searches for a specific element in a tuple using a while/for loop and prints its index if found.

In [5]:
t=[10,20,30,40]
search1=int(input("enter the item you want to search:"))
i=0
if search1 in t:
    while i<len(t):
        if t[i] ==search1:
            print(f"{search1} is at index {i}")
        i+=1
else:
    print(f"{search1} is not present")

enter the item you want to search:30
30 is at index2

In [ ]:
# with using tuple comprehnsion

In [17]:
t=[10,20,30,40]
search1=int(input("enter the item you want to search:"))
if search1 in t:
    for i in range(len(t)):
        if t[i]==search1:
            print(f"{search1} is at index {i}")
else:
    print(f"{search1} is not present")

enter the item you want to search:40
40 is at index 3

In [23]:
tuple((search1 ,i) for i in range(len(t)) if t[i]==search1)

((40, 3),)

In [30]:
t=tuple(map(int,input("enter the no: ").split(",")))
search1=int(input("enter the item you want to search:"))
if search1 in t:
    for i in range(len(t)):
        if t[i]==search1:
            print(f"{search1} is at index {i}")
else:
    print(f"{search1} is not present")

enter the no: 1,2,3,4
enter the item you want to search:4
4 is at index 3

In [54]:
t=tuple(map(int,input("enter the no: ").split(",")))
search1=int(input("enter the item you want to search:"))
tuple((search1 ,i) for i in range(len(t)) if t[i]==search1)

enter the no: 1,2,3,4
enter the item you want to search:4

((4, 3),)

In [25]:
t=tuple(map(int,input("enter the no: ").split(",")))
search1=int(input("enter the item you want to search:"))
i=0
if search1 in t:
    while i<len(t):
        if t[i] ==search1:
            print(f"{search1} is at index{i}")
        i+=1
else:
    print(f"{search1} is not present")

enter the no: 1,2,3,4,5,6
enter the item you want to search:7
7 is not present

In [ ]:
#calculate sum of all tuples

In [39]:
n=tuple(map(int,input("enter the no").split(",")))
sum=0
for items in n:
    sum+=items
print(sum)

enter the no1,2,3
6

In [40]:
# using tuple comprehension

In [52]:
n=tuple(map(int,input("enter the no").split(",")))
tuple(sum for items in n )

enter the no1,2,3

(6, 6, 6)

In [ ]:
 #Determine the maximum value in a tuple without using the built-in max() function.

In [41]:
t=tuple(map(int,input("enter the no").split(",")))
_max=t[0]
i=0
while i<len(t):
    if t[i]>_max:
        _max=t[i]
    i+=1
print(f"{_max} is maximum value in {t}")

enter the no1,2,3
3 is maximum value in (1, 2, 3)

In [ ]:
#flatten a nested tuple using while loop

In [ ]:
nested_tuple=((3,4),(8,9),(10,11),(12,13))

In [ ]:
n_t=((3,4),(8,9),(10,11),(12,13))
tup=[]
i=0
while i<len(n_t):
    if (n_t[i],tuple):
        tup.extend(n_t[i])
    i+=1
print(tup)

In [15]:
s=("h","e","l","l","o")
i=0
t=""
while i<len(s):
    t+=s[i]
    i+=1
print(t)

hello

In [13]:
"".join(s)

'hello'