# Tuples
- similar to lists ( but read-only )
- ordered, collections of items
- indexable
- immutable
- allow duplicate values
- Tuples are written with round brackets.
- allow Heterogenous elements

In [1]:
l = [1,2,3]

In [2]:
type(l)

list

In [3]:
l = (1,2,3)

In [4]:
type(l)

tuple

In [5]:
# creating empty tuple

In [6]:
t = ()

In [7]:
t

()

In [8]:
type(t)

tuple

In [10]:
z = tuple()

In [11]:
type(z)

tuple

In [12]:
z

()

In [13]:
# for one element : only parenthesis is not enough
# for one element : comma is mandatory to declare variable as tuple datatype

In [18]:
tup = (3)

In [19]:
type(tup)

int

In [20]:
tup = (3,)

In [21]:
type(tup)

tuple

In [24]:
t = ('pooja',)

In [25]:
type(t)

tuple

# A tuple can contain different data types:

In [27]:
t = (2,3.4,False,[2,3,4],(2,3))

In [28]:
t

(2, 3.4, False, [2, 3, 4], (2, 3))

# Access elements in tuples|

In [29]:
t

(2, 3.4, False, [2, 3, 4], (2, 3))

In [30]:
t[2]

False

In [32]:
t[-2][1]

3

In [33]:
t

(2, 3.4, False, [2, 3, 4], (2, 3))

In [34]:
t[1:4]

(3.4, False, [2, 3, 4])

In [35]:
t[2:]

(False, [2, 3, 4], (2, 3))

In [36]:
t[:4]

(2, 3.4, False, [2, 3, 4])

In [37]:
t

(2, 3.4, False, [2, 3, 4], (2, 3))

In [38]:
t[::2]

(2, False, (2, 3))

In [39]:
t[1::2]

(3.4, [2, 3, 4])

In [41]:
t[::-1]

((2, 3), [2, 3, 4], False, 3.4, 2)

In [42]:
t

(2, 3.4, False, [2, 3, 4], (2, 3))

In [43]:
t[-2:-5:-1]

([2, 3, 4], False, 3.4)

# Changing a Tuple not possible

In [44]:
t

(2, 3.4, False, [2, 3, 4], (2, 3))

In [46]:
t[1]=10  #not allowed to update the existing element

TypeError: 'tuple' object does not support item assignment

# Solution:
    tuple can be converted into a list, do the changes in the list, and convert it back into a tuple.

In [48]:
t=list(t)

In [50]:
t[1]=10

In [51]:
t

[2, 10, False, [2, 3, 4], (2, 3)]

In [52]:
t= tuple(t)

# Join Two Tuples (Concatination)

In [53]:
t1=(1,2,3,4)
t2 =('pooja','tanisha','hemant','manvi')

In [63]:
t3=t1+t2

In [55]:
t2+t1

('pooja', 'tanisha', 'hemant', 'manvi', 1, 2, 3, 4)

# Tuple Methods
- Python has two built-in methods that you can use on tuples.

- count() Returns the number of times a specified value occurs in a tuple  
- index() Searches the tuple for a specified value and returns the position of where it was found

In [58]:
t = (2, 10, False, [2, 3, 4], (2, 3),2)

In [59]:
t.index(10)

1

In [61]:
t.index('x')

ValueError: tuple.index(x): x not in tuple

In [62]:
t.count('x')

0

In [64]:
t3

(1, 2, 3, 4, 'pooja', 'tanisha', 'hemant', 'manvi')

In [65]:
t3.index('tanisha')

5

In [67]:
t3[5].count('a')

2

# Tuple Membership: in /not in

In [68]:
t3

(1, 2, 3, 4, 'pooja', 'tanisha', 'hemant', 'manvi')

In [69]:
'pooja' in t3

True

In [70]:
'twinkle' in t3

False

In [71]:
'twinkle' not in t3

True

# Unpacking a Tuple

In [72]:
t

(2, 10, False, [2, 3, 4], (2, 3), 2)

In [73]:
len(t)

6

In [74]:
a,b,c,d,e,f=t

In [75]:
print(f"a={a}\nb={b}\nc={c}\nd={d}\ne={e}\nf={f}")

a=2
b=10
c=False
d=[2, 3, 4]
e=(2, 3)
f=2

In [77]:
t

(2, 10, False, [2, 3, 4], (2, 3), 2)

In [76]:
a,b,c=t

ValueError: too many values to unpack (expected 3)

# Using Asterisk*
If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

In [80]:
t

(2, 10, False, [2, 3, 4], (2, 3), 2)

In [78]:
a,b,*c=t

In [79]:
print(f"a={a}\nb={b}\nc={c}")

a=2
b=10
c=[False, [2, 3, 4], (2, 3), 2]

In [81]:
a,*b,c=t

In [82]:
print(f"a={a}\nb={b}\nc={c}")

a=2
b=[10, False, [2, 3, 4], (2, 3)]
c=2

In [83]:
t

(2, 10, False, [2, 3, 4], (2, 3), 2)

In [84]:
*a,b,c=t

In [85]:
print(f"a={a}\nb={b}\nc={c}")

a=[2, 10, False, [2, 3, 4]]
b=(2, 3)
c=2

# while loop through tuple

In [96]:
t = tuple(map(int,input("Enter the items").split(",")))

i=0
while i<len(t):
    print(t[i])
    i+=1

Enter the items1,2,3,4
1
2
3
4

In [87]:
tup = tuple(input("Enter the name of language: ").split(","))

i=0
while i<len(tup):
    print(f"{tup[i]} is {len(tup[i])} letters long")
    i+=1

Enter the name of language: hindi,english,sanskrit,french,gujrati
hindi is 5 letters long
english is 7 letters long
sanskrit is 8 letters long
french is 6 letters long
gujrati is 7 letters long

In [95]:
#Write a program that reverses the given tuple using a while loop.
tup = tuple(input("Enter the name of language: ").split(","))

i=-1

while i>=-len(tup):
    print(tup[i])
    i-=1

Enter the name of language: pooja,tanisha
tanisha
pooja

In [98]:
#Write a program that searches for a specific element in a tuple using a while loop 
#and prints its index if found.
_tuple = (10, 20, 30, 40, 50)
find = int(input("Enter the item to be searched"))
i=0
if find in _tuple:
    while i<len(_tuple):
        if _tuple[i]==find:
            print(f"{find} is at index {i}")
        i+=1
else:
    print(f"{find} is not present")

Enter the item to be searched10
10 is at index 0

In [89]:
#Calculate the sum of all numbers in a tuple without using the built-in sum() function.

In [105]:
#Determine the maximum value in a tuple without using the built-in max() function.
tup = (5, 10, 15, 20, 25)
_max=tup[0]
i=0
while i<len(tup):
    if tup[i]>_max:
        _max=tup[i]
    i+=1
print(f"{_max} is maximum value in {tup}")

25 is maximum value in (5, 10, 15, 20, 25)

In [ ]:
#Determine the minimum value in a tuple without using the built-in min() function.

In [91]:
#Flatten a nested tuple into a single tuple using a while loop.
nested_tuple = ((1, 2), (3, 4), (5, 6))

In [107]:
#Convert a tuple of characters into a string using a while loop.
char_tuple = ('P', 'y', 't', 'h', 'o', 'n')
"".join(char_tuple)

'P y t h o n'